<html>
  <body>
    <h1> Hello World</h1>
    <input type ='file' name='myFile'></input> <br>

    <input type ='submit' name='uploadFile' value='Get Stats'>


    <p> your file name <%= fileNam %> </p>
    <p> line count: <%= lineCount %> </p>
    <p> word count: <%= numWords %> </p>
  </body>
</html>
