<html>
  <body>
    <h1> Find Stats About Your Text Files! </h1>

    <form action="/getstats/" method="post" enctype="multipart/form-data">
      <input type ='file' name='myFile'></input>
      <br/>
      <input type ='submit'>
    </form>



  </body>
</html>
